.place-apiary-status {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    position: absolute;
    bottom: 125px;
    height: 10%;
}

/* Apiary UI Styles */
.apiary-ui__status {
    position: absolute;
    align-self: center;
    font-size: 20px;
    white-space: normal;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
    -unity-text-align: middle-center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}